@page
@model Friberg_Car_Rentals__Razor_Pages_3_.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="main">Orders</h1>

<p class="CenterText">
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Model</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
                <td>@item.Id</td>
                <td>@item.Customer.FirstName</td>
                <td>@item.Car.Model</td>
                <td>@item.RentalStartDate.ToString("yyyy-MM-dd")</td>
                <td>@item.RentalEndDate.ToString("yyyy-MM-dd")</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
