@page
@model Friberg_Car_Rentals__Razor_Pages_3_.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="main">Are you sure you want to delete this?</h1>

<div class="CenterText">
    <dl class="table">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model):
            @Html.DisplayFor(model => model.Car.Model)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Price):
            @Html.DisplayFor(model => model.Car.Price)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Picture):
            @Html.DisplayFor(model => model.Car.Picture)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
