@page
@model Friberg_Car_Rentals__Razor_Pages_3_.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="main">Details</h1>

<div class="CenterText">
    <dl class ="table">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model):
            @Html.DisplayFor(model => model.Car.Model)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Price):
            @Html.DisplayFor(model => model.Car.Price)
        </dt>
        <dt>
            <div>
                @if (!string.IsNullOrEmpty(Model.Car.Picture))
                {
                    <img src="@Model.Car.Picture" alt="Car Picture" style="max-width: 500px; max-height: 500px;" />
                }
                else
                {
                    <p>No picture available</p>
                }
            </div>
        </dt>
    </dl>
</div>
<div class="CenterText">
    <a asp-page="./Edit" asp-route-id="@Model.Car.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
