@page
@model Friberg_Car_Rentals__Razor_Pages_3_.Pages.Cars.IndexModel

@{
    var httpContext = ViewContext.HttpContext;
    var userRole = httpContext.Session.GetString("UserRole");
}

<h1 class="main">Cars</h1>

@if (userRole == "Admin")
{
    <p class="CenterText">
        <a asp-page="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                Picture
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Picture))
                {
                    <img src="@item.Picture" alt="Car Picture" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <p>No picture available</p>
                }
            </td>
            <td>
                    @if (userRole == "Admin")
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if (userRole == "User")
                    {
                        <form method="post" asp-page-handler="PlaceOrder">
                            <input type="hidden" name="carId" value="@item.Id" />
                            <button type="submit">Order</button>
                        </form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
